<div class="row animated fast fadeIn">
    <div class="col-6">
        <div class="card card-statistics">
            <div class="card-body">

                <div class="clearfix">
                    <div class="float-left">
                        <i class="fa fa-money-bill-alt text-success icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Ingresos</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{ totalIngresos | currency:'CLP' | space }}</h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total ingresos: {{ contarIngresos }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card card-statistics">
            <div class="card-body">

                <div class="clearfix">
                    <div class="float-left">
                        <i class="fa fa-shipping-fast text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Egresos</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{ totalEgresos | currency:'CLP' | space }}</h3>
                        </div>
                    </div>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>Total egresos: {{ contarEgresos }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row animated fast fadeIn my-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <p class="mb-0 text-right">Balance</p>
                    <i class="fa fa-balance-scale icon-lg"></i>
                    <div class="fluid-container">
                        <h3 [ngClass]="{ 'text-success': ( totalBalance > 0 ), 'text-danger': ( totalBalance < 0 ) }" class="font-weight-medium text-right mb-0">
                            {{ totalBalance | currency:'CLP' | space }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row animated fast fadeIn" *ngIf="contarIngresos > 0 || contarEgresos > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Gráfica</h3>
                <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>